.borderAnimation {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  overflow: hidden;
  animation: dynamicWave 2.5s infinite ease-in-out;
}

.fontSize {
  font-size: clamp(2.5rem, 1.5909rem + 3.6364vw, 4.5rem);
  line-height: 70px;
}

@keyframes dynamicWave {
  0%,
  100% {
    border-radius: 50%;
  }

  20% {
    border-radius: 55% 45% 52% 48% / 48% 52% 48% 52%;
  }

  40% {
    border-radius: 45% 55% 48% 52% / 52% 48% 52% 48%;
  }

  60% {
    border-radius: 52% 48% 55% 45% / 45% 55% 45% 55%;
  }

  80% {
    border-radius: 48% 52% 45% 55% / 55% 45% 55% 45%;
  }
}
